extends extendedLayout

block sendChatInput
  div.row(ng-controller='sendChatControl')
    div.form-group
      div.input-group
        // call onSend when enter is pressed while in text input
        input#chatField.form-control(type='text'
          style='display: inline-block;'
          placeholder='type here to chat'
          ng-model='chatInput'
          ng-enter='onSend(chatInput)')
        span.input-group-btn
          // call onSend when clicked
          button#sendButton.btn.btn-primary(type='button', ng-click='onSend(chatInput)') Send

block messageBox
  div#messageBox.row(ng-controller='messageBoxControl')
    div.alert.alert-dismissable.fade.in(ng-repeat='message in messageList',
        ng-class='messageColorSelect(message)')

        button.close(type='button', data-dismiss='alert', ng-click='removeMessage($index)') x
        span(ng-if='message.error')
          | {{ message.error }}
        span(ng-if='message.message')
          | {{ message.message }}

block chatbox
  div#chatbox.span4(ng-controller='chatBoxControl')
    // use function messageColorSelect to determine the color of the messages
    // filter messages with the matchMessage function with search being the ng-model of the input text
    div.alert.alert-dismissable.fade.in(ng-repeat='chat in chatList | filter:matchChatMessage(search)'
      ng-class='chatMessageColorSelect(chat)')

      button.close(type='button', data-dismiss='alert', ng-click='removeChatMessage($index)') x
      // use function labelColorSelect to determine color of label
      // and function labelNameSelect to determine name of label 
      span.label(ng-class='labelColorSelect(chat.username)') 
        | {{ labelNameSelect(chat.username) }}
      span.label(ng-class='labelColorSelect(chat.receiver)' ng-if='chat.receiver') 
        | {{ labelNameSelect(chat.receiver) }}

      span(ng-if='chat.message') 
        | {{chat.message}}

block userList
  div#userList.list-group(ng-controller='userListControl')
    // highlight selected user based on selectedIndex and hide hidden users based on isUserHidden function
    // call userClicked when list item clicked
    a.list-group-item.user_list(href='#'
      ng-repeat='user in userList'
      ng-class='{active: $index === $root.selectedIndex }'
      ng-if='!isUserHidden(userList[$index])'
      ng-click='userClicked($index)') {{user}}

// Main body of the application
block body
  br
  block messageBox
  div
    div.row
      block chatbox
      block userList
    block sendChatInput
